template
    .columns

        div(
            aire
            width-1-5
            border-right
            margin-top
            margin-bottom
        )
            .section
                h1 Default Chef Deployment
            .details
                .icon
                    img(src="data:image/svg+xml;base64,${iconFor('frapadawabasdf')}")
                .dt
                    .line
                        span Type:
                        span Gyre

                    .line
                        span Owner:
                        span
                            a sunshowerjoe

                    .line
                        span Created:
                        span 08/21/2019
            .section
                h1 Tags
                span.uk-label
                    i.fal.fa-times
                    | Gyres
                span.uk-label
                    i.fal.fa-times
                    | Infrastructure
                span.uk-label
                    i.fal.fa-times
                    | 3rd party
                span.uk-label.success
                    i.fal.fa-plus

            .section
                h1 History
                .information(ref="information")
            .section
                h1 Visibility
                form.uk-form-stacked
                    div
                        input(name="visible" type="checkbox" checked).uk-checkbox
                        label(for="visible") Public
                    div
                        input(name="ro" type="checkbox").uk-checkbox
                        label(for="ro") Cloneable




        div(aire width-4-5 margin-bottom margin-top padding padding-remove-top padding-remove-bottom padding-remove-right)
            .section(style="height:300px; overflow-y: hidden; margin-right:32px" ref="userList")
                h1 Users
                ul(aire list list-divider)
                    li(repeat.for="user of users.slice(0, 4)")
                        .details
                            .icon.small
                                img(src="data:image/svg+xml;base64,${iconFor(user.guid)}")
                            .line(style="align-self:center")
                                span ${user.email}
                            .line(style="align-self:center; margin-left: auto")
                                form.uk-form-horizontal
                                    input(name="visible" type="checkbox" checked).uk-checkbox
                                    label(for="visible") Read

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Write

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Execute

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Admin

            .section(style="overflow-y: hidden; margin-right:32px" ref="groupList")
                h1 Groups
                ul(aire list list-divider)
                    li(repeat.for="group of groups")
                        .details
                            .icon.small
                                img(src="data:image/svg+xml;base64,${iconFor(group)}")
                            .line(style="align-self:center")
                                span ${group}
                            .line(style="align-self:center; margin-left: auto")
                                form.uk-form-horizontal
                                    input(name="visible" type="checkbox" checked).uk-checkbox
                                    label(for="visible") Read

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Write

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Execute

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Admin

            .section(style="overflow-y: hidden; margin-right:32px" ref="roleList")
                h1 Roles
                ul(aire list list-divider)
                    li(repeat.for="role of roles")
                        .details
                            .icon.small
                                img(src="data:image/svg+xml;base64,${iconFor(role)}")
                            .line(style="align-self:center")
                                span ${role}
                            .line(style="align-self:center; margin-left: auto")
                                form.uk-form-horizontal
                                    input(name="visible" type="checkbox" checked).uk-checkbox
                                    label(for="visible") Read

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Write

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Execute

                                    input(name="ro" type="checkbox").uk-checkbox
                                    label(for="ro") Admin
