template
    a(
        if.bind="href"
        click.delegate="dispatch($event)"
    ).uk-button ${label}

    button(
        if.bind="!href"
        click.trigger="dispatch($event)"
    ).uk-button.uk-button-default ${label}
