template.aire-button
    a.uk-button(
        ref="anchor"
        href.bind="href"
        class.bind="active ? 'active' : ''"
    )
    button.uk-button(
        ref="button"
        class.bind="active ? 'active' : ''"
    )
    slot(ref="slot")
