template.navigation(
    mouseenter.trigger ="visible = true"
    mouseleave.trigger ="visible = false"
    click.delegate="navigate()"
)
    i(
        class.bind="icon"
    )
    span.label(
        if.bind="parent && visible"
    ) ${label}
    .expand(show.bind="visible")
        aire-navigation(
            child
            nav.bind="nav"
            parent.bind="viewModel"
            repeat.for="nav of router.navigation"
        )


