template
    aire-viewport
        aire-header(large)
            aire-button(control href="#" large aire height-1-1)
                aire-image(source="assets/logos/sunshowerio/mark-white.svg" width="32" height="32" aire)
            h1 Sunshower.io
            ul.uk-breadcrumb
                li
                    i.fal.fa-home
                li(if.bind="currentItem.category")
                    a(click.delegate="navigate(currentItem.category)") ${currentItem.category}
                li(if.bind="currentItem.name")
                    a(click.delegate="navigateTo(currentItem)") ${currentItem.name}

            aire-button(control href="#" large aire height-1-1 float-right)
                aire-image(source="assets/logos/sunshowerio/mark-white.svg" width="32" height="32" aire)
        //aire-search(aire inline float-right search.delegate="performSearch($event)")
            //    div.result-container
            //        div.result(repeat.for="result of results")
            //            i(class.bind="result.icon")
            //            a(click.delegate="navigateTo(result)") ${result.name}



        aire-navbar
            aire-drawer(
                host="ancestor:nav"
                visible.bind="showDrawer"
                click.trigger="hide()"
            )
                aire-header
                    h2 ${currentPage.title}
                    aire-button
                        i.fal.fa-times(click.trigger="hide()")
                aire-button(repeat.for="component of currentPage.settings.components" click.delegate="navigateTo(component)")
                    i(class.bind="component.icon")
                    | ${component['tag-name'] || component['name']}

            aire-button(
                repeat.for="nav of router.navigation"
                active.bind="nav.isActive",
                click.trigger="navigate(nav)"
                mouseenter.trigger="show(nav)"
            )
                i(class.bind="nav.settings.icon")
        aire-page(aire width-1-1)
            router-view(aire height-1-1)
        aire-footer
            aire-button(control aire height-1-1)
                i.fal.fa-cog
            div.right
                span version 1.0.0
