template
    aire-viewport
        aire-header(small)
            aire-button(control)
                i.fal.fa-cloud-sun-rain
            location(left)
                aire-button(text tooltip="Loff you wabster" position="right")
                    i.fal.fa-cog

        aire-navbar
            aire-drawer(
                host="ancestor:nav"
                visible.bind="showDrawer"
                click.trigger="hide()"
                open
            )
                header
                    h1 frapper
            aire-button(
                repeat.for="nav of router.navigation"
                active.bind="nav.isActive",
                click.trigger="navigate(nav)"
                mouseenter.trigger="show(nav)"
                tooltip.bind="nav.title"
                position="right"
            )
                i(class.bind="nav.settings.icon")
        aire-page(padded)
            router-view
        aire-footer
            aire-button(control)
                i.fal.fa-cog
