template
    aire-viewport
        aire-header(small)
            aire-button(control href="#")
                i.fal.fa-cloud-sun-rain
            ul.uk-breadcrumb
                li(if.bind="currentItem.category")
                    a(click.delegate="navigate(currentItem.category)") ${currentItem.category}
                li(if.bind="currentItem.name")
                    a(click.delegate="navigateTo(currentItem)") ${currentItem.name}
            .uk-inline.right
                div.uk-form-icon
                    i.fal.fa-search
                input.uk-input(placeholder="Search...")



        aire-navbar
            aire-drawer(
                host="ancestor:nav"
                visible.bind="showDrawer"
                click.trigger="hide()"
            )
                aire-header
                    h2 ${currentPage.title}
                    aire-button
                        i.fal.fa-times(click.trigger="hide()")
                aire-button(repeat.for="component of currentPage.settings.components" click.delegate="navigateTo(component)")
                    i(class.bind="component.icon")
                    | ${component['tag-name'] || component['name']}

            aire-button(
                repeat.for="nav of router.navigation"
                active.bind="nav.isActive",
                click.trigger="navigate(nav)"
                mouseenter.trigger="show(nav)"
            )
                i(class.bind="nav.settings.icon")
        aire-page(padded)
            router-view
        aire-footer
            aire-button(control)
                i.fal.fa-cog
            div.right
                span version 1.0.0
