template
    template(if.bind="mode === 'component'")
        .page(aire-container small)

            h1.uk-article-title
                i(class.bind="component.icon")
                | ${component.type} ${component.name} (${component['tag-name']})
            aire-markdown(content.bind="component.comments[0]")

            section(aire-section repeat.for="section of component.sections")
                template(if.bind="!$last")
                    h1 ${section.name}
                    aire-markdown(content.bind="section.content")
                    p.note(repeat.for="note of type(section.tags, 'note')")
                        aire-label NOTE
                        | ${note.content}

                    example-panel(repeat.for="example of type(section.tags, 'example')" example.bind="example.html")
                        h1 Examples
                        aire-tab-panel
                            aire-tab(title="pug")
                                aire-code(code.bind="example.pug" language="pug")
                            aire-tab(title="html")
                                aire-code(code.bind="example.html" language="html")


                template(if.bind="$last")
                    h1 ${section.name}
                    aire-markdown(content.bind="section.content")
                    p.note(repeat.for="note of type(section.tags, 'note')")
                        aire-label NOTE
                        | ${note.content}
                    table.uk-table
                        thead
                            tr
                                th Attribute
                                th Description

                        tbody
                            tr(repeat.for="attr of component.attributes")
                                td(style="color: red") ${attr.name}
                                td ${attr.content}






            .sidebar-right


    template(if.bind="mode === 'page'")
        section(aire-section repeat.for="[key, value] of components")
            aire-tab-panel(aire-container small)
                aire-tab(title="${key} Summary")
                    ul.uk-list.uk-list-striped.component-list
                        li(repeat.for="component of value")
                            i(class.bind="component.icon" style="margin-right:16px")
                            a(click.delegate="open(component)") ${component.name}
                            span(aire) ${component.description}



