template
    template(if.bind="mode === 'component'")
        aire-container(top="48px" small)
            h1 ${component.name} : ${component.type}
            h2 ${component.description}
            aire-markdown(content.bind="component.comments[0]")


    template(if.bind="mode === 'page'")
        div(repeat.for="[key, value] of components")
            h3 Members of type: ${key}
            div(repeat.for="component of value") ${component.name}


