template
    template(if.bind="mode === 'component'")
        aire-container(top="48px" small)
            h1.uk-article-title
                | ${component.type} ${component.name} (${component['tag-name']})
            aire-markdown(content.bind="component.comments[0]")

            aire-section(repeat.for="section of component.sections")
                h1 ${section.name}
                aire-markdown(content.bind="section.content")

            .sidebar-right


    template(if.bind="mode === 'page'")
        div(repeat.for="[key, value] of components")
            h3 Members of type: ${key}
            div(repeat.for="component of value") ${component.name}


